@font-face {
    font-family: 'IRANSansX-Regular';
    src: url('../fonts/woff/IRANSansX-Regular.woff');
    src: local('../fonts/woff/IRANSansX-Regular.woff'), url('../fonts//woff/IRANSansX-Regular.woff') format('woff'), url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
  }
  body{
    font-family: 'IRANSansX-Regular' !important;
  }
  @media screen and (max-width: 800px){
    .container-login100{
      background-image: url('../images/portalmob.jpg');
    }
  }
  @media screen and (min-width: 800px){
    .container-login100{
      background-image: url('../images/bg-01.jpg');
    }
  }